main {
    background-color:bisque;
    padding-bottom: 30px;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 50px;
}

footer {
    padding: 20px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

.teks-footer {
    width: 30vw;
    margin-right: 10px;
    text-align: justify;
    word-wrap: break-word;
}

.carousel {
    background-color: rgb(205, 205, 205);
}

.gambar-carousel {
    margin: auto;
    object-fit: cover;
    height: 80vh;
    opacity: 70%;
}

#welcome{
    background-color: rgba(53, 53, 53, 0.863);
    color: white;
    margin-bottom: 20%;
    padding: 25px;
    border-radius: 20px;
    word-wrap: break-word;
}

.card {
    margin: 20px;
    padding-top: 20px;
    border-radius: 20px;
    height: 300px;
    min-width: 280px;
    animation-name: masuk;
    animation-duration: 4s;
    animation-iteration-count: 1;
    opacity: 100%;
}

@keyframes masuk {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
}

.pp {
    margin: auto;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

.hlm-kontak {
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.kuliner{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gambar-snacks{
    object-fit: cover;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.gambar-popup{
    object-fit: cover;
    height: 100%;
    max-width: 95vw;
}

.card-snacks {
    padding-top: 0;
    height:fit-content;
    width:300px;
}

.popup-overlay{
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
    
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards; /* Adjust duration and easing */
}

.popup-content{
    max-height: 500px;
    background:white;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding: 20px;
    padding-right: 15px;
    border-radius: 8px;
    width: 500px;
    text-align: justify;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.close-btn {
    background: #ff1900;
    opacity: 75%;
    margin: auto;
    text-align: center;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

.popup-title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-body p {
    margin: 0;
}

.desc-btn {
    background-color: #d46ec7ea;
    font-weight: bold;
    color: white;
    animation-name: warna_warni;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes warna_warni {
    0%   {background-color: #d46ec7ea;}
    25%  {background-color: rgb(255, 145, 0);}
    50%  {background-color: rgb(0, 153, 255);}
    75%  {background-color: #9900ff;}
    100% {background-color: #d46ec7ea;}
}

.popup-body {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    overflow-y: auto;
}

.box-gambar{
    display: flex;
    justify-content: center;
}

.gambar-latar{
    max-height: 280px;
    max-width: 100%;
}

.kata-latar{
    text-align: justify;
    padding-right: 10px;
}

.kritik-saran{
    max-width: 40%;
    padding: 0;
    margin: 0;
}

.btn {
    font-size: 15px;
}

/*
tambah animasi
Media query biar berubah jadi 1 kolom
*/

.close-btn:hover {
    opacity: 100%;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .container {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards; /* Adjust duration and easing */
  }

@media only screen and (max-width: 820px) {
    .gambar-carousel{
        height: 300px;
    }

    #welcome{
        display: block;
        height: auto;
        font-size: 25px;
        width: auto;
        background-color: rgba(53, 53, 53, 0.863);
        color: white;
        margin-bottom: 20%;
        padding: 25px;
        border-radius: 20px;
        word-wrap: break-word;
    }

    .gambar-latar{
        height: 200px;
        width: 350px;
    }

    .kata-latar{
        font-size: 12px;
    }

    #kartu-latar{
        max-width: 100%;
        height: fit-content;
    }

    footer{
        display: grid;
        padding-bottom: 20px;
        gap: 25px;
    }

    .teks-footer{
        width: fit-content;
        text-align: justify;
    }
    #div-judul{
        justify-content: center;
        width: 100%;
    }
    h5,ul{
        text-align: center;
    }

    .kritik-saran{
        max-width: 100%;
    }
  }